.bg-color {
  background: #0fc690;
}

.carousel-caption {
  bottom: 200px !important;
}

.text-change {
  font-size: 70px;
  font-weight: bold;
}

.new-line {
  border-bottom: #0fc690 solid 1px;
  width: 410px;
  margin: 0 auto;
}

.p-modify {
  font-size: 17px;
  /* line-height: 30px; */
}
.navbar-light .navbar-nav .nav-link {
  color: #fff; 
}

